node_modules/
ios/Pods/
Gemfile.lock
.bundle/
.vscode/
ios/.xcode.env
ios/.xcode.env.local
ios/*.xcworkspace/
ios/build/
build/
vendor/
android/.gradle/
android/.kotlin/
android/app/.cxx/
android/build/
android/app/build/